# Server & App Environment
NODE_ENV=production
PORT=3000
APP_URL=https://nama-proyek-anda.up.railway.app

# WhatsApp & Local Database Persistent Storage (Gunakan Railway Volume)
STORAGE_DIR=/data

# Google Gemini AI (Opsional: fitur asisten AI & pesan personalisasi)
GEMINI_API_KEY=

# Google Drive API (Opsional: sinkronisasi dan arsip otomatis laporan absensi PDF)
GOOGLE_DRIVE_CLIENT_ID=808277148256-068e724o8i43n3e5ghs58oru3ucbbvq2.apps.googleusercontent.com
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REFRESH_TOKEN=
